<div class= "row">
    <div class="col-md-8">
        <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
        <div class="pull-right">
            <%= link_to current_user.email %>
        </div>
    </div>
</div>