<div class= "row">
    <div class="col-md-8">
        <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
        <h2 class="media-heading">Viewing to-do list for: <%= current_user.email %></h2>
    </div>
    <div class="col-md-6">
        <%= render @items %>
    </div>
    <div class="col-md-6">
        <%= render partial: 'items/form', locals: {user: @user} %>
    </div>
</div>