<div class="items-listed">
    <strong><%= item.name %></strong><p>Created <%= time_remaining(item) %> Ago</p> <br>
    <%= link_to "", item_path(item), method: :delete, class: 'glyphicon glyphicon-ok' %>
</div>
