.pull-right{
    text-align: right;
    background-color: gray;
    position: fixed top;
}

.sign-in-alert{
    background-color: green;
}

a img{
    float: left;
    height: 100px;
    width: 200px;
    position: fixed left;
}